:root {
  --box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body {
  background: lightyellow;
  font-family: fantasy;
  margin: 30px 40px;
  display: grid;
  grid-gap: 20px;
}

/*
    Instead of using grid-template-columns and grid-template-rows, use grid-templates: rows/columns.
*/
.container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.innerContainer {
  background: lightsteelblue;
  padding: 15px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}

.wrapper {
  text-align: center;
  padding: 8px;
  font-size: 50px;
  box-shadow: var(--box-shadow);
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px auto 60px;
  grid-template-areas:
    "m h h h h h h h h h h h"
    "m c c c c c c c c c c c"
    "m f f f f f f f f f f f";
}

/*
    POSISTIONING ITEMS using GRID ROWS/COLUMNS LINES
    1. Calcualte the number of rows/columns lines based on the number of rows/columns.
    2. Use properties like "grid-[ROW/COLUMN]-start" "grid-[ROW/COLUMN]-end"
*/
.header {
  background: lightsalmon;
  grid-area: h;
}

.menu {
  background: lightgreen;
  grid-area: m;
}

.content {
  background: pink;
  grid-area: c;
}

.footer {
  background: lightskyblue;
  grid-area: f;
}

/* 
  Using Auto fit and Auto fill properties to auto responsiveness of the website.
 */
.autoFit {
  display: grid;
  /*
    Using only auto-fit will leave the grid unfilled if there is some less space than the specified pixels.
  */
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: repeat(4, 200px);
  grid-gap: 8px;
}
