body {
  background: lightyellow;
  font-family: fantasy;
}

.container {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-gap: 8px;
}

.innerContainer {
  background: lightsteelblue;
  padding: 15px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}
