body {
  background: lightyellow;
  font-family: fantasy;
}

/*
    Instead of using grid-template-columns and grid-template-rows, use grid-templates: rows/columns.
*/
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.innerContainer {
  background: lightsteelblue;
  padding: 15px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}
